# Python忽略规则
__pycache__/
*.py[cod]
.venv/
.env
build/
dist/

# Jupyter Notebook忽略规则
.ipynb_checkpoints/

# VS Code忽略规则
.vscode/
*.code-workspace

# macOS忽略规则
.DS_Store

# Windows忽略规则
Thumbs.db

# PyCharm忽略规则
.idea/
*.iml

upload_files

test_outputs

# 数据库文件忽略规则
*.db
*.db-wal
*.db-journal
*.sqlite
*.sqlite3

# 大型模型文件忽略规则
*.pkl
*.bin
*.safetensors
*.onnx
*.openvino
*.pt
*.pth

# 图片和媒体文件忽略规则 (可选，根据需要调整)


# 临时文件和缓存
*.tmp
*.temp
*.log